.reviews {
  display: flex;
  margin-top: 100px;
  margin-left: 10%;

  flex-direction: column;
  align-items: center;
}

.review-heading {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  width: 100%;
  align-items: start;
  justify-content: start;
}

.review-heading > h1 {
  font-size: 4.5rem;
  font-weight: bold;
  text-align: start;
  width: 500px;
}

.reviews-container {
  margin-top: 70px;
  display: grid;
  grid-template-columns: 350px 350px 350px;
  column-gap: 40px;
  width: 100%;
  justify-content: start;
  align-items: center;
}

.review-tile {
  height: 210px;
  margin-right: 50px;
  width: 300px;
  cursor: pointer;
  padding: 10px;
  text-align: start;
  padding-left: 30px;
  border-radius: 20px;
  transition: all 0.25s;
  background: #ffffff;
  box-shadow: 20px 20px 60px #e8e8e8, -20px -20px 60px #ffffff;
}

.review-tile:hover {
  box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
}

.review-box > h5 {
  opacity: 0.7;
  font-weight: 700;
  line-height: 25px;
}

@media (max-width: 1200px) {
  .reviews {
    margin-left: 5%;
  }
}
@media (max-width: 1300px) {
  .reviews-container {
    grid-template-columns: 350px 350px;
    row-gap: 60px;
  }
}

@media (max-width: 870px) {
  .reviews-container {
    grid-template-columns: 350px;
    column-gap: 0;
    row-gap: 60px;
  }
}

@media (max-width: 560px) {
  .review-heading > h1 {
    font-size: 3.5rem;
    width: 400px;
  }
  .review-heading {
    margin-top: 50px;
  }
}

@media (max-width: 420px) {
  .review-heading > h1 {
    font-size: 3rem;
    width: 300px;
  }
  .review-heading {
    margin-top: 0%;
  }

  .review-tile {
    width: 250px;
    padding-right: 30px;
  }
}
