.about-container {
  margin-bottom: 0px;
  background-color: #3dda84;
  display: grid;
  padding: 0 10%;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  padding-bottom: 100px;
  padding-top: 100px;
  grid-template-columns: 30% 30% 30%;
  column-gap: 100px;
}

.copyright-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 60px;
}

.copyright-container > h5 {
  padding: 0%;
  margin: 0%;
  margin: auto;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
}

.copyright-container > h5 > a {
  opacity: 0.7;
}

.about-keyos,
.service-agriment,
.company {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  text-align: start;
}

.about-keyos > h4,
.company > h4,
.service-agriment > a > h4 {
  opacity: 0.6;
  font-weight: 600;
  padding: 0%;
  margin: 0%;
  color: black;
  margin-top: 10px;
  cursor: pointer;
}

@media (max-width: 1190px) {
  .about-container {
    grid-template-columns: 40% 40%;
    row-gap: 50px;
  }
}

@media (max-width: 1000px) {
  .about-container {
    padding-right: 5%;
    padding-left: 5%;
  }
}

@media (max-width: 780px) {
  .about-container {
    grid-template-columns: 90%;
  }
}
