.download {
  height: 60vh;
  padding: 0 10%;
  margin-top: 50px;
  display: flex;
  align-items: center;
  color: white;
  position: relative;
  justify-content: space-between;
  background-color: #4285f4;
  border-radius: 0% 30vh 30vh 0;
  margin-right: 100px;
}

.text-container {
  width: 400px;
  display: flex;
  align-items: flex-start;
  text-align: start;
  flex-direction: column;
}

.text-container > h1 {
  font-size: 2.5rem;
  padding: 0%;
  margin: 0%;
  margin-left: 11px;
}

.text-container > h4 {
  font-weight: 400;
  width: 300px;
  margin-left: 12px;
  line-height: 25px;
}

.phoneImage {
  height: 300px;
  position: absolute;
  bottom: -20px;
  right: 5%;
}

@media (max-width: 750px) {
  .text-container {
    width: 300px;
  }

  .text-container > h1 {
    font-size: 2rem;
  }

  .text-container > h4 {
    font-weight: 400;
    width: 300px;
  }

  .text-container > img {
    height: 50px;
  }

  .download {
    margin-right: 0;
    border-radius: 0;
  }
}

@media (max-width: 400px) {
  .text-container {
    width: 100%;
  }
  .text-container > h4 {
    width: 100%;
  }
}
